In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import seaborn as sns
%matplotlib inline
plt.rc("figure", figsize=(10, 10))

In [15]:
df = pd.read_csv('energydata_complete (1).csv')

In [16]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.30,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.20,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.10,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.00,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.90,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,5/27/2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.73,755.2,55.666667,3.333333,23.666667,13.33,43.096812,43.096812
19731,5/27/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.30,49.282940,49.282940
19732,5/27/2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.47,755.2,56.333333,3.666667,25.333333,13.27,29.199117,29.199117
19733,5/27/2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.33,755.2,56.666667,3.833333,26.166667,13.23,6.322784,6.322784
19734,5/27/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.20,34.118851,34.118851

In [17]:
df = df.drop(columns=["date", "lights"], axis=1)

In [25]:
df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.30,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.20,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.10,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.00,45.410390,45.410390
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.90,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.73,755.2,55.666667,3.333333,23.666667,13.33,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.30,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.47,755.2,56.333333,3.666667,25.333333,13.27,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.33,755.2,56.666667,3.833333,26.166667,13.23,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.20,34.118851,34.118851

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [20]:
df.describe()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,19.592106,...,19.485828,41.552401,7.411667,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,1.844623,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194650,14.496634,14.496634
min,10.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,15.330000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,18.277500,...,18.000000,38.500000,3.670000,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,19.390000,...,19.390000,40.900000,6.920000,756.100000,83.666667,3.666667,40.000000,3.430000,24.897653,24.897653
75%,100.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,20.619643,...,20.600000,44.338095,10.410000,760.933333,91.666667,5.500000,40.000000,6.570000,37.583769,37.583769
max,1080.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,25.795000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [21]:
df.shape

(19735, 27)

In [22]:
df.isnull().sum()

Appliances     0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [23]:
scaler = MinMaxScaler()

normalized_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369132,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365595,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357878,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

Split the Dataset

In [24]:
X = normalized_df.drop(["Appliances"], axis = 1)
y = normalized_df["Appliances"]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

print("X_train shape: {}".format(X_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

X_train shape: (13814, 26)
X_test shape: (5921, 26)
y_train shape: (13814,)
y_test shape: (5921,)

In [27]:
# Select a sample of the dataset
reg_df = normalized_df[["T2", "T6"]]
reg_df.head()

         T2        T6
0  0.225345  0.381070
1  0.225345  0.375443
2  0.225345  0.367487
3  0.225345  0.363800
4  0.225345  0.361859

In [30]:
# Reshape the X variables
X1 = reg_df["T2"].values.reshape(-1, 1)
y1 = reg_df["T6"].values.reshape(-1, 1)
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.3, random_state = 42)

In [31]:
linear_model = LinearRegression()
linear_model.fit(X1_train, y1_train)
y1_pred = linear_model.predict(X1_test)
y1_pred

array([[0.23928945],
       [0.46794238],
       [0.23108472],
       ...,
       [0.3001772 ],
       [0.4297256 ],
       [0.3217686 ]])

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [32]:
# R squared score
r2 = r2_score(y1_test, y1_pred)
print("R-Squared: {}".format(round(r2, 2)))

R-Squared: 0.64

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [33]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
train_score = lr.score(X_train, y_train)
test_score = lr.score(X_test, y_test)
print('Training score: {:.3f}'.format(train_score))
print('Testing score: {:.3f}'.format(test_score))

Training score: 0.145
Testing score: 0.149

In [34]:
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error: {}'.format(round(mae, 2)))

Mean Absolute Error: 0.05

What is the Residual Sum of Squares (in two decimal places)?

In [35]:
rss = np.sum(np.square(y_test - y_pred))
print('Residual Sum of Squares: {}'.format(round(rss, 2)))

Residual Sum of Squares: 45.35

What is the Root Mean Squared Error (in three decimal places)?

In [36]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error: {}'.format(round(rmse, 3)))

Root Mean Squared Error: 0.088

What is the Coefficient of Determination (in two decimal places)?

In [37]:
r_squared = r2_score(y_test, y_pred)
print('R-Squared: {}'.format(round(r_squared, 2)))

R-Squared: 0.15

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [41]:
def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_reg_weights = weights(lr, X_train, 'Linear_Model_Weight')
linear_reg_weights

       Features  Linear_Model_Weight
0           rv2        -4.656546e+10
1          RH_2        -4.566524e-01
2         T_out        -3.219121e-01
3            T2        -2.361531e-01
4            T9        -1.899265e-01
5          RH_8        -1.575771e-01
6        RH_out        -7.768639e-02
7          RH_7        -4.462620e-02
8          RH_9        -3.980339e-02
9            T5        -1.567737e-02
10           T1        -3.274484e-03
11  Press_mm_hg         6.832048e-03
12           T7         1.030867e-02
13   Visibility         1.230911e-02
14         RH_5         1.599728e-02
15         RH_4         2.639684e-02
16           T4         2.899895e-02
17    Windspeed         2.917560e-02
18         RH_6         3.805243e-02
19         RH_3         9.603784e-02
20           T8         1.019845e-01
21    Tdewpoint         1.177465e-01
22           T6         2.364721e-01
23           T3         2.906170e-01
24         RH_1         5.535217e-01
25          rv1         4.656546e+10

In [40]:
print("The lowest weights", linear_reg_weights[0:1])
print("The highest weights", linear_reg_weights[-1:])

The lowest weights   Features  Linear_Model_Weight
0      rv2        -4.656546e+10
The highest weights    Features  Linear_Model_Weight
25      rv1         4.656546e+10

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [42]:
ridge = Ridge(alpha = 0.4)
ridge.fit(X_train, y_train)

Ridge(alpha=0.4)

In [43]:
ridge_pred = ridge.predict(X_test)
train_score = ridge.score(X_train, y_train)
test_score = ridge.score(X_test, y_test)

print('Training score of Ridge regression model: {:.3f}'.format(train_score))
print('Testing score of Ridge regression model: {:.3f}'.format(test_score))

Training score of Ridge regression model: 0.145
Testing score of Ridge regression model: 0.149

In [44]:
# Prediction with Ridge
R = ridge.predict(X_test)

In [45]:
# Mean Absolute Error with Ridge
mae_R = mean_absolute_error(y_test, R)
print('Mean Absolute Error for Ridge model: {}'.format(round(mae_R, 2)))

Mean Absolute Error for Ridge model: 0.05

In [47]:
# Root Mean Squared Error (RMSE) for Ridge
mse_R = mean_squared_error(y_test, R)
rmse_R = np.sqrt(mse_R)
print('Root Mean Squared Error for Ridge model: {}'.format(round(rmse_R, 3)))

Root Mean Squared Error for Ridge model: 0.088

Answer = No

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [46]:
# Lasso model at alpha = 0.001
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [48]:
lasso_reg_pred = lasso_reg.predict(X_test)
lasso_reg.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [49]:
train_score = lasso_reg.score(X_train, y_train)
test_score = lasso_reg.score(X_test, y_test)

print('Training score of Lasso regression model: {:.3f}'.format(train_score))
print('Testing score of Lasso regression model: {:.3f}'.format(test_score))
print('Number of features for training: {:.3f}'.format(np.sum(lasso_reg.coef_ != 0)))

Training score of Lasso regression model: 0.025
Testing score of Lasso regression model: 0.027
Number of features for training: 4.000

In [50]:
# Comparing the effects of regularisation
linear_reg_weights = weights(lr, X_train, 'Linear_Model_Weight')
ridge_weights = weights(ridge, X_train, 'Ridge_Weight')
lasso_weights = weights(lasso_reg, X_train, 'Lasso_weight')

In [51]:
final_weights = pd.merge(linear_reg_weights, ridge_weights, on='Features')
final_weights = pd.merge(final_weights, lasso_weights, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0           rv2        -4.656546e+10      0.000748     -0.000000
1          RH_2        -4.566524e-01     -0.411065     -0.000000
2         T_out        -3.219121e-01     -0.262215      0.000000
3            T2        -2.361531e-01     -0.201400      0.000000
4            T9        -1.899265e-01     -0.188917     -0.000000
5          RH_8        -1.575771e-01     -0.156826     -0.000110
6        RH_out        -7.768639e-02     -0.054729     -0.049557
7          RH_7        -4.462620e-02     -0.045977     -0.000000
8          RH_9        -3.980339e-02     -0.041366     -0.000000
9            T5        -1.567737e-02     -0.019855     -0.000000
10           T1        -3.274484e-03     -0.018400      0.000000
11  Press_mm_hg         6.832048e-03      0.006584     -0.000000
12           T7         1.030867e-02      0.010100     -0.000000
13   Visibility         1.230911e-02      0.012076      0.000000
14         RH_5         1.599728e-02      0.016152      0.000000
15         RH_4         2.639684e-02      0.024583      0.000000
16           T4         2.899895e-02      0.027387     -0.000000
17    Windspeed         2.917560e-02      0.030269      0.002912
18         RH_6         3.805243e-02      0.035522     -0.000000
19         RH_3         9.603784e-02      0.095128      0.000000
20           T8         1.019845e-01      0.101028      0.000000
21    Tdewpoint         1.177465e-01      0.083122      0.000000
22           T6         2.364721e-01      0.217333      0.000000
23           T3         2.906170e-01      0.288085      0.000000
24         RH_1         5.535217e-01      0.519523      0.017880
25          rv1         4.656546e+10      0.000748     -0.000000

Answer = RH_1, Windspeed, RH_out and RH_8

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [54]:
L = lasso_reg.predict(X_test)

In [55]:
# Root Mean Squared Error (RMSE) for Lasso model
mse_L = mean_squared_error(y_test, L)
rmse_L = np.sqrt(mse_L)
print('Root Mean Squared Error for Lasso model: {}'.format(round(rmse_L, 3)))

Root Mean Squared Error for Lasso model: 0.094